AITO_APP_NAME=app-in-toss-by-gh
AITO_DISPLAY_NAME=앱인토스 RN 앱
AITO_PRIMARY_COLOR=#3182F6
AITO_ICON_URL=
AITO_STAGE=local
AITO_API_BASE_URL=https://api.example.com
AITO_WORKSPACE_NAME=
AITO_DEPLOY_API_KEY=
AITO_MTLS_CERT_PATH=
AITO_MTLS_KEY_PATH=
